{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{%block container%}
<div class="col-md-12 col-md-offset-1">

    {% if len(products) %}
    <h3>Cliente: {{client.iloc[0].client_name}}</h3> 
    <ul class="list-group">
        <li class="list-group-item">Cédula: {{id}}</li>
        <li class="list-group-item">Productos: {{len(products)}}</li>
    </ul>
    <br>
    <h4>Productos</h4>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
    {% for p in products %}
    <div class="col mb-4">

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            
            {% if p.type == "SavingAccount" %}Cuenta de Ahorros{% endif %}
            {% if p.type == "Loan" %}Préstamo{% endif %}
            {% if p.type == "FixedTermDeposit" %}Depósito a plazo fijo{% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ p.id}}</h5>
          <p class="card-text"><b>Balance:</b> {{ '{:.2f}'.format(Product.getProductBalance(id=int(p.id))) }}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if len(clients) %}
    <h3>Clientes</h3> <br>
    <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Productos</th>
              <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(len(clients)) %}
        
            
                <tr>
                    <th scope="row">{{ clients.iloc[i].id }}</th>
                    <td>{{ clients.iloc[i].client_name }}</td>
                    <td>{{ len(Client.getClientProducts(client=clients.iloc[i].id ) )}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{url_for('.client',id=clients.iloc[i].id )}}">Ver productos</a>
                        <a class="btn btn-warning" href="{{url_for('.client',id=clients.iloc[i].id )}}">Mantenimiento de datos</a>
                    </td>
                </tr>
           
       
        
        {% endfor %}
        </tbody>
    </table> 
    {% endif %}
</div>
{% endblock %}
