{% extends 'layout.html' %}
{%block container%}

    <h2>Bienvenido al sistema bancario</h2><br>

    <div class="container">
        {% if current_user.is_authenticated %}
        <p>Usuario {{user}}</p>
        {% else %}
        <p>Para empezar, <a href="{{ url_for('.login') }}">inicia sesión</a></p>
        {% endif %}
    </div>
{%endblock%}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename='main.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>
</body>
</html>
-->

