{% extends 'base.html' %}



{% block navbar %}
    <nav class="navbar navbar-dark bg-primary static-top navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{{url_for('.index')}}" class="navbar-brand">Banking System</a>
        <div class="collapse navbar-collapse  " id="navbarTogglerDemo01">
            
                <ul class="navbar-nav ml-auto">
                    
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown  {%if active=='statement' or  active=='client' %} active {% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{url_for('.statement')}}">Estados de cuenta</a>
                                <a class="dropdown-item" href="{{url_for('.client')}}">Clientes</a>
                                
                            </div>
                        </li>
                        <li class="nav-item dropdown  {%if active=='transfer' %} active {% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h6 class="dropdown-header">Transacciones</h6>
                                <a class="dropdown-item" href="#">Transferencia</a>
                                <h6 class="dropdown-header">Crear productos</h6>
                                <a class="dropdown-item" href=".url('.create_loan')">Préstamo</a>
                            </div>
                        </li>   
                        <li class="nav-item {%if active=='profile' %} active {% endif %}"><a href="{{url_for('.profile')}}" class="nav-link">Profile</a></li>
                        <li class="nav-item {%if active=='logout' %} active {% endif %}"><a href="{{url_for('.logout')}}" class="nav-link">Logout</a></li>
                    {% else %}
                        <li class="nav-item {%if active=='login' %} active {% endif %}"><a href="{{url_for('.login')}}" class="nav-link">Login</a></li>
                        
                        
                        
                        {% endif %}

                       
                    
                </ul>
        </div>
    </nav>

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <br>
        <!-- CAPA DE MENSAJES -->
        <div class="col-md-12 col-md-offset-1">

            {% with messages = get_flashed_messages(with_categories=True)%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}    
                            <div class="alert alert-danger" role='alert'> {{message}}</div>
                        {%else%}
                            <div class="alert alert-success" role='alert'> {{message}}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block container %}
        {% endblock %}
    </div>
</div>
{% endblock %}