{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{%block container%}
<div class="col-md-12 col-md-offset-1">
    <h3>Estados de Cuenta</h3> <br>
    <form action="" method="POST">

        <!-- INPUT QUE CONTIENE EL TOKEN, no poner espacios entre "_{}_" -->
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group">
            <!-- RENDER FIELDS WITH BOOTSTRAP CLASSES -->
            {{ render_field(form.id, class='form-control', placeholder='Número de cuenta') }}
            
        </div>
        <div class="form-group">
            <!-- RENDER FIELDS WITH BOOTSTRAP CLASSES -->
            {{ render_field(form.From, class='form-control', placeholder='DD-MM-YYYY') }}
            {{ render_field(form.to, class='form-control', placeholder='DD-MM-YYYY') }}
            
        </div>

        <button type="submit" class="btn btn-primary">Obtener estado de cuenta</button>
    </form>
    <br>
    {% if found %}
    <div class="container">
        <div class="row">
          <div class="col">
            <h4 style="text-align:center"> Número de cuenta: {{form.id.data}}</h4>
          </div>
          <div class="col">
        <h4  style="text-align:center">Balance: {{balance}}</h4>
          </div>
        </div>
        
      </div>
      <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {%for t in range(len(statement))%}
                <tr>
                    <th scope="row">{{statement.iloc[t]['id']}}</th>
                    <td>{{statement.iloc[t]['accounting_date']}}</td>
                    <td>{{statement.iloc[t]['mvt']}}</td>
                </tr>
                {%endfor %}
            </tbody>
        </table>
        
      </div>
    {% endif %}
</div>
{%endblock%}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename='main.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>
</body>
</html>
-->

