{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{%block container%}

<div class="col-md-12 col-md-offset-1">
    <h3>Crear Préstamo</h3>
    <form action="" method="POST">

        <!-- INPUT QUE CONTIENE EL TOKEN, no poner espacios entre "_{}_" -->
        <div class="container">
            <div class="row">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <div class="col-md form-group">
                <!-- RENDER FIELDS WITH BOOTSTRAP CLASSES -->
                {{ render_field(form.owner, class='form-control', placeholder='Username') }}
                {{ render_field(form.product, class='form-control', placeholder='Password') }}
                {{ render_field(form.interest_rate, class='form-control', placeholder='Password') }}
            </div>

            <div class="col-md form-group">
                <!-- RENDER FIELDS WITH BOOTSTRAP CLASSES -->  
                
                {{ render_field(form.length, class='form-control', placeholder='Password') }} 
                {{ render_field(form.base, class='form-control', placeholder='Password') }}
            </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Crear Préstamo</button>
        <a href="{{ url_for('.create',product='Loan')}}?table=true" class="btn btn-dark">Generar tabla de amortización</a>
    </form>
</div>

{%endblock%}